@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

@font-face {
    font-family:'FonteM';
    src: url(_fonts/computer-font.ttf);
}

@font-face {
    font-family: 'Comic';
    src: url(_fonts/LDFComicSans.ttf);
}

:root {
    --cor0: #7D3736;
    --cor1: #7D1210;
    --cor2: #C91D1A;
    --cor3: #FC2421;
    --cor4: #FD6F6D;
    --cor5: #000000;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-titulo-principal: 'Monoton', cursive;
    --fonte-computer: 'FonteM', cursive; 
    --fonte-criticas: 'Comic', sans-serif;
}

body {background-color: var(--cor5);
}

p { text-align: justify;
    text-indent: 40px;
    color: white;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {text-decoration: underline;
    color: white;
}

.titulos-abas {
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #C91D1A;
    text-align: center;
    color: white;
    top: -300px;
    font-family: Arial, sans-serif;
    text-decoration: underline;
}

.voltar {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
}
.anterior {
    position: absolute;
    top: 45px;
    left: 20px;
    color: white;
}


/*Formatação da Página Inicial*/

#cabecalho-principal h1 {
    font-family: var(--fonte-titulo-principal);
    font-size: 65pt;
    color: #FC2421;
    text-shadow: 2px 2px 2px whitesmoke;
    text-align: center;
}

#cabecalho-principal h2 {
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #C91D1A+;
    text-align: center;
    color: white;
    top: -300px;
    font-family: 'FonteM';
    font-size: 30px;
}

#icone {
    position: absolute;
    left: 980px;
    top: 60px;
}

#p1 {
    color: whitesmoke;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

#p2 {
    color: whitesmoke;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#tituloimagemcapa {
    font-family: Arial, sans-serif;
    font-size: 30pt;
    color: black;
    text-shadow: 2px 2px 2px red;
    text-align: center;
}

div#textoimagemcapa >p {
    color: white;
    text-shadow: 2px 2px 1px red;
    text-align: justify;
    font-size: 20pt;
    font-family: Arial, sans-serif;
    font-weight: bolder;
}

#fotolegenda {
    position: relative;
    border: 8px solid whitesmoke;
    box-shadow: 1px 1px 4px gray;
}

#fotolegenda img {
    width: 100%;
    height: 100%;
}

#fotolegenda figcaption {
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    color: black;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 1s;
}

#fotolegenda:hover figcaption {
    opacity: 1;
}


/*Formatação do Menu Principal*/
nav#menu {
    display: block;
}

nav#menu ul{
    color: whitesmoke;
    text-transform: uppercase;
    list-style: none;
    position: absolute;
    top: -20px;
    left: 400px;
}

nav#menu h1 {
    display: none;
}

nav#menu li {
    display: inline-block;
    background-color: whitesmoke;
    padding: 10px;
    margin: 2px;
    transition: background-color 2s;
}

nav#menu li:hover {
    background-color: gray;
}

nav#menu a {
    color: black;
    text-decoration: none;
}

nav#menu a:hover {
    color: white;
    text-decoration: underline;
}

/*Formatação do Menu de Críticas*/


#menu-criticas {
    display: flex;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    width: 1150px;  
} 

.icone-grande-filme {
    display: block;
    border: 3px solid red;
    width: 200px;
    height: 250px;
}

.icone-filme {
   width: 150px;
   height: 150px; 
   margin-left: 25px;
   margin-top: 20px;
   
}

#main-criticas {
    display: flex;
    justify-content: space-between;
}

#figuras {
    width: 250px;
    display: block;
   }

/*Formatação das Páginas de Críticas*/
.titulo-ingles {
    text-transform: uppercase;
    text-shadow: 2px 2px 2px red;
    text-align: center;
    color: white;
    top: -300px;
    font-family: Arial, sans-serif;
    text-size-adjust: 15px;
    text-decoration: underline;
}

.chamada-do-filme {
    font-family: Arial, sans-serif;
    font-size: 13pt;
    color: red;
    text-shadow: 1px 1px 1px whitesmoke;
    text-align: center;
}

.trailer {
    margin-left: 400px;
}

/*Formatação da aba de Formulário*/
.texto-formulario {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
}

#obrigada {
    color: whitesmoke;
    font-size: 20px;
}

span {
    color: whitesmoke;
}

/*Formatação da aba "Uma Aba Qualquer"*/
#tituloabaqualquer {
    text-transform: uppercase;
    text-shadow: 2px 2px 2px white;
    text-align: center;
    color: red;
    top: -300px;
    font-family: Arial, sans-serif;
    text-decoration: underline;
    font-size: 100px;
}

#textoabaqualquer {
    text-transform: uppercase;
    text-shadow: 2px 2px 2px red;
    text-align: center;
    color: white;
    top: -300px;
    font-family: Arial, sans-serif;
    text-size-adjust: 15px;
    text-decoration: underline;
}

img#cd {
    left: 560px;
    position: absolute;
}


